# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
env/
venv/
ENV/
.venv/
.env/
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/


# Pytest cache
.pytest_cache/

# MacOS
.DS_Store

